python-telegram-bot
google-generativeai
python-dotenv
duckduckgo-search
requests
beautifulsoup4
emoji
langdetect
Pillow
httpx
google-cloud-vision
protobuf
pytz
geopy
timezonefinder
pytz-deprecation-shim
tzlocal
pydantic
requests
